body{
    background-color: #f7c5cc;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2,5, 2fr);
    grid-template-rows: repeat(2,5, 2fr);
    gap: 8px;
    padding:20px;
}
.cardPromo1{
    grid-row-start: 1;
    background-color: #fff8f0;
}

.cardPromo2{
    grid-row-start: 2;
    background-color: #fff8f0;
}

.cardPromo3{
    grid-row-start: 1;
    background-color: #fff8f0;
}

.cardPromo4{
    grid-row-start: 2;
    background-color: #fff8f0;
}

.cardPromo5{
    grid-row-start: 1;
    background-color: #fff8f0;
}

.cardPromo6{
    grid-row-start: 2;
    background-color: #fff8f0;
}

.cardPromo7{
    grid-row-start: 1;
    background-color: #fff8f0;
}